.App {
  margin-top: 100px;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 0px;
}

.cardList {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0px 30px;
  overflow-y: auto;
}

.card {
  border: 3px solid green;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  word-break: normal;
}
